.Form {
    border: 1px solid rgb(121, 118, 118);
    border-radius: 5px!important;
}

.Button {
    border: none;
    background-color: #ddc6ec;
    color: #5a1485;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
}

.Button:hover {
    cursor: pointer;
    background-color: #7a21b2;
    color: #ddc6ec;
}