.DropdownItem {
    display: inline-block;
    max-width: 30%;
    padding: 0px;
    
}
.DropdownItem:hover {
    background-color: transparent;
}
.DropdownMenu {
    background-color: transparent!important;
}

.Absolute {
    position: absolute;
    right: 0;
    bottom: 12%;
    z-index: 99;
    
}