.DropdownItem {
    display: inline-block;
    max-width: 30%;
    padding: 0px;
    
}
.DropdownItem:hover {
    background-color: transparent;
}

.Absolute {
    position: absolute;
    right: 0;
    bottom: 2%;
    z-index: 99;
}