.NavBar {
  background-color: #e5d7f7;
  border: 1px solid #dadadf;
  background-image: linear-gradient(to right, rgba(241, 231, 254), rgba(213, 184, 255));
  text-align: center;
  opacity: 0.97;
}

.NavLink:hover {
  opacity: 1;
  visibility: visible;
  height: 100%;
  transform: scale(1.1);
  transition: all 550ms;
}

.NavLink {
  padding: 7px;
  font-weight: 550;
  line-height: 40px;
}

.NavLink.Active {
  color: rgb(76, 7, 76);
  transform: scale(1.1);
  /* display: list-item;
  list-style-type: disc;
  list-style-position: calc(20%); */
}

.Active i {
  color: rgb(76, 7, 76);
}
.Pawfile {
  position: relative;
  left: 20%;
}


/* For large phone screens sizes from 1024px wide and down */
@media screen and (max-width: 1024px) {
  .Pawfile {
    left: 10%;
  }

  .NavLink {
    font-size: 15px;
  }
}

/* For large phone screens sizes from 425px wide and down */
@media screen and (max-width: 425px) {
  .Pawfile {
    left: unset;
  }
}


