.ProfilesContent {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 13% !important;
}

.ProfilesContent p {
    text-align: center;
}

.ProfilesContent p i {
    color: rgb(187, 81, 187);
}

.ProfilesContent p i:hover {
    transform: scale(1.1);
    transition: color ease-in-out 0.6s;
}

/* Media query */
/* For medium laptop screens sizes from 1024px wide and down */
@media screen and (max-width: 1024px){
    .ProfilesContent {
        margin-top: 15.8% !important;
    }
}

/* For large tablet screens sizes from 768px wide and down */
@media screen and (max-width: 768px){
    .ProfilesContent {
        margin-top: 5% !important;
    }
}

/* For large phone screen sizes from 425px wide and down */
@media screen and (max-width: 425px){
    .ProfilesContent {
        margin: 3px auto;
    }
}