.SearchBar input {
  border-radius: 20px;
  color: #3d243c;
  padding-left: 45px;
  margin-bottom: 32px;
}

.NewPostIcon a {
  border: 1px solid #3d243c;
  border-radius: 10px;
  padding: 8px;
  background-color: rgb(246, 239, 245);
}

.NewPostIcon a:hover {
  cursor: pointer;

  transform: scale(1.05);
}

.SearchIcon {
  position: absolute;
  font-size: 1.4rem;
  padding: 8px;
  padding-left: 15px;
}


.SearchIcon:hover {
  cursor: default;
  color: rgb(18, 126, 126);
}