.Post {
    background-color: rgba(249, 251, 251);
    border: 1px solid #dadadf;
    border-radius: 4px;
    margin-bottom: 16px;
    text-align: center;
}

.Post figure,
h5 {
    margin: 0 0;
}

.Upvote {
    color: rgb(135, 16, 135);
}

.Upvote:hover {
    color: rgb(163, 33, 163);
}

.UpvoteOutline:hover {
    color: rgb(135, 16, 135);
}

.Downvote {
    color: rgb(7, 108, 108);
}

.Downvote:hover {
    color: rgb(21, 197, 197);
}

.DownvoteOutline:hover {
    color: rgb(7, 108, 108);
}

.Bookmark {
    color: rgb(7, 108, 108);
}

.Bookmark:hover {
    color: rgb(29, 215, 215);
}

.BookmarkOutline:hover {
    color: rgb(20, 111, 111);
}