.Row {
    height: calc(95vh - 90px);
}

.Input {
    background: rgb(250, 243, 250);
    border: 1px solid #dfcceb;
    box-sizing: border-box;
    border-radius: 5px;
    color: #9271a1;
    text-align: center;
    padding: 10px;
}


.FillerImage {
    padding-top: 4%;
    width: 80;
}   

.Header {
    font-weight: bold;
    font-size: 15px;
    font-family: 'Hanken Grotesk', sans-serif;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #7a21b2;
}

.Link {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
}

.Link span {
    color: #7a21b2;
}

.Container {
    padding: 20px 5px;
}

.SignInCol {
    height: 300px;
}

.SignUpCol {
    height: 350px;
}
.FillerImage {
    border-radius: 1%;
    
}
